@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet lacus ac neque euismod malesuada. Sed vehicula lorem at augue ultricies, a congue magna tristique. Praesent sit amet augue non mi pulvinar sollicitudin. Phasellus scelerisque bibendum nisi, ut tempor sapien. Cras sit amet tincidunt nunc. Nam vel ligula sed orci volutpat tempor. Duis eu odio eget odio viverra efficitur.</p>
    <p>Vestibulum et libero maximus, hendrerit velit ac, bibendum turpis. In fermentum libero id augue varius, sit amet pulvinar risus laoreet. Vivamus vitae tellus id velit feugiat tincidunt. Morbi interdum, magna sit amet tempor placerat, mi sapien auctor ex, et bibendum tortor tortor non odio. Ut finibus, purus nec sollicitudin efficitur, orci dolor vulputate ex, ut scelerisque turpis mi ut est. Mauris non vestibulum eros. Curabitur fermentum dapibus lectus, nec pulvinar nisi vestibulum a. Nullam at justo enim.</p>
    <p>Nam commodo convallis justo, vitae pharetra ligula scelerisque vel. Curabitur id ante ac libero pretium dictum. Vestibulum at lectus non felis varius viverra. Pellentesque gravida metus at orci vulputate, eget vehicula metus dictum. Aliquam erat volutpat. Donec sit amet nunc sit amet ligula efficitur fermentum. Integer scelerisque ligula a libero suscipit, a bibendum lorem finibus. Integer id eros vel enim fermentum tempor. In eget cursus lacus. Fusce malesuada, felis non accumsan tincidunt, turpis mi efficitur mi, id volutpat justo metus vel orci. Ut a massa et leo fermentum elementum.</p>
</div>
